*{
    padding: 0;
    margin: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    margin-left: 50px;
    transition: 0.3s;
}

.one{
    width: 50px;
    transition: 0.3s;
    background-color: red;
    border-radius: 15px;
}

.three{
    width: 50px;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
    background-color: red;
    border-radius: 15px;
}

.two{
    width: 100px;
    background-color: blue;
    border-radius: 15px;
}

.container:hover .one{
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
}

.container:hover{
    margin-left: 0px;
    transition: 0.3s;
}

.container:hover .three{
    opacity: 1;
    transition: 0.3s;
    transform: scale(1);
}